apiVersion: v1
kind: Service
metadata:
  name: cloud-portfolio-service
  namespace: cloud-portfolio
  labels:
    app: cloud-portfolio
spec:
  type: LoadBalancer
  selector:
    app: cloud-portfolio
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800